
server.port=8080

spring.data.mongodb.uri=mongodb+srv://{#####ID######:######PASSWORD#####}@pikachom.33qtm.mongodb.net/myDataBase?retryWrites=true&w=majority


https://github.com/Ahmodadeola/studentsDataApi_with_SpringBoot2/blob/master/src/main/java/com/studentsData/students/model/Student.java
