server.port=8080

spring.data.mongodb.uri=mongodb+srv://{YOURID:YOURPASSWORD}@pikachom.33qtm.mongodb.net/myDataBase?retryWrites=true&w=majority


spring.profiles.include=oauth
spring.h2.console.enable=true
spring.datasource.url=jdbc:h2:mem:testdb
spring.datasource.driver-class-name=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=

spring.jpa.defer-datasource-initialization=true
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.show_sql=true

spring.session.store-type=redis
spring.redis.host=localhost
spring.redis.password=
spring.redis.port=6379

logging.level.org.hibernate.stat=debug
logging.level.org.hibernate.type=trace

jwt.header=Authorization
jwt.secret=TYPEYOUROWNSECRET
jwt.token-validity-in-seconds=86400