<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Home</h1>
<div class="col-md-12">
    <div class="col-md-6">
<!--        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 계정으로 로그인</a>-->
        <a th:href="@{/register}">회원가입</a>
        <a th:href="@{/login-own}">로그인</a>
        <a th:href="@{/customlogin}">로오그인</a>
    </div>
</div>
</body>
</html>