<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Register</h1>
<form method="POST" th:action="@{/api/signup}" id="userDto">

    <label for="username">email: </label>
    <input type="text" name="username" /><br />

    <label for="password">password: </label>
    <input type="password" name="password" /><br />

    <label for="nickname">name: </label>
    <input type="text" name="nickname" /><br />

    <input type="submit" value="회원가입" />
</form>
</body>
</html>